.container-homepage {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
.a-image {
  height: 480px;
}

.a-image img {
  background-color: rgba(201, 9, 9, 0.5);
  height: 100%;
  object-fit: cover;
}