.container-homepage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.a-image {
  height: 480px;
}

.a-image img {
  background-color: rgba(201, 9, 9, 0.5);
  height: 100%;
  object-fit: cover;
}

.popular-category {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vh;

}

.popular-category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  justify-content: center;
  /* Center items horizontally */
}

.first-category {
  margin: 10px;
  /* Adjust spacing between items */

}

.first-category :hover {
  transform: translateY(-10px);
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Align items horizontally */
  text-align: center;
  /* Align text center */
}


.round-image {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  /* Set border radius to 50% for perfect circles */
}

@media (max-width: 768px) {
  .first-category {
    width: 30%;
    /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  .first-category {
    width: 45%;
    /* Further adjust width for even smaller screens */
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Add background color with transparency */
  color: white;
  /* Set text color */
  padding: 10px;
  /* Add padding to the text */
}



.category-image {
  width: 100px;
  /* Adjust the width of the image */
  height: 100px;
  /* Adjust the height of the image */
  border-radius: 50%;
  /* Make the image round */
}

.category-name {
  margin-top: 5px;
  /* Adjust spacing between image and text */
  font-size: 14px;
  /* Adjust font size */
}


/* styles.css */

.supar-delicious {
  margin: 2vh 10vw 20px;
}

.random-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.random-meal-card {
  position: relative;
  flex: 0 0 calc(25% - 20px);
  margin: 0 0 20px;
  background: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.random-meal-card:hover {
  transform: translateY(-10px);
}

.random-meal-card img {
  width: 100%;
  height: auto;
}

.random-meal-card h3 {
  text-align: center;
  margin: 10px 0;
  font-size: 1rem; /* Adjust font size as needed */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
}

@media (max-width: 768px) {
  .random-meal-card {
    flex-basis: calc(50% - 20px);
  }
}
