.nav-container {
    background-color: #f8f8f8;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center; 
}

.nav-list ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px; 

}

.nav-list > ul > li {
    margin:10;
    font-family: Arial, sans-serif; 
    font-weight: 600;

}

.logo img {
    height: 45px;
    width: 175px;
}

@media (max-width: 768px) {
    .logo img {
        width: 100%;
    }
    .nav-search button {
        margin: 7px;
    }
    .nav-items {
        flex-direction: column; /* Stack items vertically on smaller screens */
        gap: 10px; /* Adjust spacing between items */
    }
}

@media (max-width: 420px) {
    .logo img{
        width: 100%;
    }
}

.nav-search {
    display: flex;
    align-items: center;
}

@media (max-width:768px) {
    .nav-search {
        margin-bottom: 2px;
        flex-direction: column;
    }
}

.nav-search input[type="text"] {
    padding: 8px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
}

.nav-search button {
    background-color: black;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.nav-search button:hover {
    background-color: grey;
}

.nav-items li a {
    text-decoration: none; /* Remove text decoration */
    color: black;
}

